body {
    box-sizing: border-box;
    font-family: arial, sans-serif
}
button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10px;
    font-size:20px;
}
img {
    float:right;
    width:600px;
    height: 600px;
}
